.container {
  display: flex;
  align-items: flex-start;
}

.wider {
  margin: 1rem;
  width: 100%;
}

.wider input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
  width: 20rem;
  font-size: 1.1rem;
  outline: none;
  color: white;
}

p {
  text-align: center;
}
