.card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #1cb3ba;
  margin-bottom: 0.5rem;
}

.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0.5rem;
}

.login {
  color: #1cb3ba;
}
